@charset "utf-8";
/* 공통 */
.btn_group {display: flex;}
.btn { transition: 0.2s; display: flex; flex: 1; justify-content: center; align-items: center; font-size: 16px; font-weight: 400; color: #284e80; border: 1px solid #284e80; border-radius: 4px; height: 45px; }
.btn + .btn {margin-left: 5px;}
.btn:active { background-color: rgba(0, 0, 0, .05); }
.bg_color1 {background: #284e80;color: #fff;}
.btn.bg_color1:active {background-color: #213f66;}
.upper {text-transform:uppercase;}

/*header {display:none;}*/

#breadcrumb h4 {width:calc(100% - 90px); text-align:center; font-weight:200;}

#contents { /*display: flex; flex-direction: column; */position: relative; }
#contents .container { flex-grow: 1; }

/* 입력양식 */
.input_box {overflow: hidden;font-size: 14px;border: 1px solid #e3e3e3;border-radius: 4px;}
.input_box input[type=text] {letter-spacing: -.8px;line-height: 40px;height: 40px;width: 100%;padding: 0 15px;font-weight: 300;}
.input_box input[type=text]:active{background-color: rgba(0, 0, 0, .05);}
.input_box input[type=password] {letter-spacing: -.8px;line-height: 40px;height: 40px;width: 100%;padding: 0 15px;font-weight: 300;}
.input_box input[type=password]:active{background-color: rgba(0, 0, 0, .05);}
.input_box select {letter-spacing: -.8px;height: 40px;font-size: 14px;border: 0;width: 100%;padding: 0 20px;font-weight: 300;background-image: url(/images/common/select_tri.png);background-repeat: no-repeat;background-size: 8px 6px;background-position: right 15px top 16px;}
.input_box select:active{background-color: rgba(0, 0, 0, .05);}
.input_box.gray.gray {border:0;}
.input_box.gray  select{ background-color: #eeeeee; }
.input_wrap { display: flex; align-items: center; }
.input_wrap .input_box { flex: 1; position: relative; }

.phone_wrap .input_box {border-radius: 0; border-left: 0; border-right: 0;}
.phone_wrap .input_box:first-child {border-radius: 4px 0 0 4px;border-left: 1px solid #e3e3e3;}
.phone_wrap .input_box:last-child {border-radius: 0 4px 4px 0;border-right: 1px solid #e3e3e3;}
.phone_wrap .input_box + .input_box:before {position: absolute;top: 11px;left: 0;content: '';display: block;width: 1px;height: 20px;background: #e3e3e3;}

.date_wrap .input_box {border-radius: 0; border-left: 0; border-right: 0;}
.date_wrap .input_box:first-child {border-radius: 4px 0 0 4px;border-left: 1px solid #e3e3e3;}
.date_wrap .input_box:last-child {border-radius: 0 4px 4px 0;border-right: 1px solid #e3e3e3;}
.date_wrap .input_box + .input_box:before {position: absolute;top: 11px;left: 0;content: '';display: block;width: 1px;height: 20px;background: #e3e3e3;}

.choise_wrap { display: flex; }
.choise_wrap input[type="radio"],
.choise_wrap input[type="checkbox"] { display: none; }
.choise_wrap input + label.choise_box {transition: 0.2s;height: 40px;font-size: 14px;border: 1px solid #e3e3e3;border-radius: 4px;color: #b9b9b9;font-weight: 300;}
.choise_wrap input:checked + label.choise_box {border-color: #252f62;color: #252f62;font-weight: 500;}
.choise_wrap label.choise_box {margin-right: 5px;flex: 1;display: flex;justify-content: center;align-items: center;letter-spacing: -.8px;}
.choise_wrap label.choise_box:last-child{margin-right:0;}
.choise_wrap label.choise_box:active{background-color: rgba(0, 0, 0, .05);}

.input_tit {letter-spacing: -.8px;font-size: 14px;font-weight: 500;margin-left: 0;margin-top:20px;margin-bottom:10px;display: block;}

/* My Volvo - main */
#contents.myvolvo_bg { overflow: visible; }
#contents.myvolvo_bg .bg { position: absolute; top: 0; left: 0; width: 100%; height: calc(100% + 20px); background:url(/images/member/myvolvo_bg.jpg) no-repeat center / cover; padding-bottom:0; z-index: 1; }
#contents.myvolvo_bg #breadcrumb { z-index: 1; }
#contents.myvolvo_bg .container { position: relative; z-index: 1; }
.myvolvo_main p {font-size:17px;font-weight:400;line-height:1.5;text-align:center;margin-top: 10vw;word-break: keep-all;}
.myvolvo_main .btn_wrap {width:245px;margin:0 auto;margin-top:40px;}
.myvolvo_main .btn_wrap a {transition:background-color 0.2s;display:block;height:50px;line-height:50px;color:#fff;background:#abb8c5;letter-spacing:-.8px;font-weight:500;font-size:18px;text-align:center;border-radius:10px;}
.myvolvo_main .btn_wrap a + a {margin-top:10px;}
.myvolvo_main .btn_wrap a:active {background-color:#284e80;}

/* 로그인 (member - login.php) */
.login img.lock_img {display:block;width:61px;margin: 8px auto 17px;}
.login label {display:flex;border-radius:10px;border:1px solid #e3e3e3;height:50px;align-items:center;}
.login label span {width:50px;height:15px;border-right:1px solid #e3e3e3;font-size:16px;text-align:center;font-weight: 400;}
.login label input {flex:1;margin:0 10px;}
.login label + label {margin-top:5px;}
.login .login_btn {display:block;width:100%;margin-top: 18px;background:#284e80;font-weight:500;font-size:16px;color:#fff;border-radius:10px;height:50px;transition:0.2s;}
.login .login_btn:active{background-color: #213f66;}
.login .sub_buttons {display:flex;margin-top: 18px;text-align: center;justify-content:center;align-items:center;}
.login .sub_buttons > button,
.login .sub_buttons > a {transition:0.2s;color:#adadad;letter-spacing:-.8px;padding:10px 2px;margin:0 5px;border-radius:4px;}
.login .sub_buttons > button:active,
.login .sub_buttons > a:active{background-color: rgba(0, 0, 0, .05);}
.login .sub_buttons > .vertical_line {height:15px;border-left:1px solid #e3e3e3;}
.login > p { margin-bottom: 15px; font-size: 15px; color: #333333; letter-spacing: -.8px; font-weight: 300; line-height: 19px; text-align: center; }




.find_id { display: flex; flex-direction: column; }
.find_id .container { display: flex; align-items: center; padding: 0 34px; }
.find_id .find_id_wrap { width: 100%; }
.find_id .find_id_wrap p { margin-bottom: 45px; font-size: 17px; color: #000; line-height: 27px; letter-spacing: -.8px; text-align: center; }
.find_id .find_id_wrap p strong { display: inline-block; margin-top: 5px; font-size: 24px; color: #308ad4; }
.find_id .find_id_wrap .input_box { margin-bottom: 10px; }
.find_id .find_id_wrap .input_box input[type=text] { height: 50px; }
.find_id .find_id_wrap .input_box select { height: 50px; background-position: right 15px top 22px; }
.find_id .find_id_wrap .phone_wrap .input_box { margin-bottom: 20px; }
.find_id .find_id_wrap .phone_wrap .input_box + .input_box:before { top: 16px; }
.find_id .find_id_wrap .btn + .btn { margin-top: 10px; margin-left: 0; }




/* 회원가입 (member - join.php) */
.join .phone_row {display:flex; flex-direction: column;}
.join .phone_col { display: flex; }
.join .phone_col:first-child { margin-bottom: 10px; }
.join .phone_wrap {flex:1; display: none;}
.join .phone_certification {padding: 0 5px; margin-left:5px;flex:none;font-size:14px;color:#1868b9;border:1px solid #1868b9;font-weight:400;height:41px;letter-spacing:-0.02em;}
.join .agree_all { display: flex; margin-bottom:20px; }
.join .agree_all label { display: flex; justify-content: space-between; align-items: center; flex-grow: 1; }
.join .agree_all label span { display: 15px; color: #000000; font-weight: 400; letter-spacing: -.8px; }
.join .agree {display:flex;flex-direction:column;margin-top:0;padding:20px 0; border-top:1px solid #e3e3e3;}
.join .agree .agree_row { display: flex; justify-content: space-between; margin-top: 20px; }
.join .agree .agree_row:first-child { margin-top: 0; }
.join .agree .agree_col { display: flex; flex-direction: column; /*justify-content: center;*/ }
.join .agree .agree_col a { margin-top: 5px; font-size: 13px; color: #284e80; font-weight: 400; letter-spacing: -.8px; }
.join .agree label {display:flex;align-items:center;}
.join .agree label + label {margin-top:10px;}
.join .agree label span {font-size:14px; color: #777777; font-weight:400;letter-spacing:-.8px;flex:1; line-height:1.5;}
.join .agree_tit { margin-top: 40px; font-size: 16px; color: #000000; font-weight: 500; letter-spacing: -.8px; }
.join input[type=checkbox] {transition:0.2s;width:25px;height:25px;border:1px solid #e3e3e3;background:url(/images/member/check.png) no-repeat center / 11px auto }
.join input[type=checkbox]:checked {background-color:#284e80;}
.join .agree_chk { display: block; transition: 0.2s; width: 25px; height: 25px; border: 1px solid #e3e3e3; background: url(/images/member/check.png) no-repeat center / 11px auto; }
.join .agree_chk.on {background-color:#284e80;}
.join .car_number_wrap2 { position: relative; display: flex; margin-bottom: 10px; height: 40px; }
.join .car_number_wrap2 label { display: flex; flex-grow: 1; height: 40px; }
.join .car_number_wrap2 label input { margin-right: 5px; }
.join .car_number_wrap2 label span { display: flex; justify-content: center; align-items: center; width: 100%; font-size: 15px; color: #969696; border: 1px solid #e3e3e3; border-radius: 4px; background-color: #f8f8f8; }
.join .car_number_wrap2 input[type=radio] { position: absolute; top: 0; left: 0; width: 0px; height: 0px; opacity: 0; }
.join .car_number_wrap2 input[type=radio]:checked + span { background-color: #fff; border-color: #1868b9; color: #1868b9; font-weight:400; }

.join .car_number_wrap2 label:nth-child(1) span {margin-right:5px;}

.pw_caption { font-size:13px; color:#777; padding:10px 2px 0; line-height:1.4; letter-spacing:-0.08em; overflow: hidden; }

.agree_pop {/* display: flex; flex-direction: column;*/ position: absolute; top: 100vh; left: 0; width: 100%; height: 100%; background-color: #fff; z-index:2; }
.agree_pop .top { position: relative; display: flex; height: 59px; align-items: center;padding: 0px 5px;height: 59px; }
.agree_pop .top .back { flex: none; }
.agree_pop .top .back a {display: flex;padding: 12px;width: 40px;height: 40px;border-radius: 10px;transition: 0.2s;justify-content: center;align-items: center;}
.agree_pop .top .back a:active { background-color: rgba(0, 0, 0, .05); }
.agree_pop .top .back a img { width: 16px; }
.agree_pop .top h4 {flex: none;font-size: 20px;color: #000;font-weight: 200;letter-spacing: -.4px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);min-width: 220px;text-align: center;}
.agree_pop .middle { flex-grow: 1; padding: 0 20px; }
.agree_pop .middle h5 { display: block; margin-bottom: 10px; padding-bottom: 15px; font-size: 17px; color: #000000; padding-top:15px; font-weight: 400; border-bottom: 1px solid #e3e3e3; letter-spacing: -.8px; line-height:1.3; }
.agree_pop .middle p { font-size: 14px; color: #a7a7a7; letter-spacing: -.8px; line-height: 20px; }
.agree_pop .middle strong { margin-bottom: 8px; margin-top:20px; display: block; font-size: 14px; color: #000000; letter-spacing: -.8px; }
.agree_pop .bottom { height: 75px; }
.btn_pop_close_wrap { left:0px; width:100%; padding:0 20px; background:#fff; box-shadow:0px -10px 15px 15px white; z-index:3;}
.btn_pop_close {width:100%; max-width:335px; height:45px;  margin:0 auto 30px; border:solid 1px #284e80; border-radius:4px; }
.btn_pop_close a {display:block; width:100%; height:100%; line-height:43px; text-align:center; color:#284e80; font-weight:500; position:relative; }

.agree_pop.t2 .middle h5 { border: none; }
.agree_pop.t2 .middle input[type=checkbox] {transition:0.2s;width:25px;height:25px;border:1px solid #e3e3e3;background:url(/images/member/check.png) no-repeat center / 11px auto }
.agree_pop.t2 .middle input[type=checkbox]:checked {background-color:#284e80;}
.agree_pop.t2 .middle .box-table { margin-top: 10px; }
.agree_pop.t2 .middle table { border-bottom: 1px solid #F5F5F5; }
.agree_pop.t2 .middle table tr { border-top: 1px solid #F5F5F5; }
.agree_pop.t2 .middle table th { background-color: #F9F9F9; }
.agree_pop.t2 .middle table th, 
.agree_pop.t2 .middle table td { padding: 14px; font-size: 14px; color: #888; font-weight: 300; vertical-align: middle; }
.agree_pop.t2 .middle table td label span { display: inline-block; margin-left: 8px; font-weight: 400; color: #333333; }
.agree_pop.t2 .middle .box-caption p { position: relative; padding-left: 10px; }
.agree_pop.t2 .middle .box-caption p:before { content: ""; position: absolute; top: 0px; left: 0px; width: 4px; height: 4px; background: #ccc; }

.email_at {font-size:13px; color:#999; padding:0 3px;}
.email_select_wrap { margin-top:5px; justify-content: flex-end; }
.email_select_wrap .input_box { flex: none; width: calc(50% - 10px); }


/* 00.회원정보 - main (member_menu) */
.member_menu h4 {font-size:17px;color:#141414; letter-spacing:-.8px;font-weight:400;margin:15px 0;}
.member_menu li {border-top:1px solid #e3e3e3;}
.member_menu li:last-child{border-bottom:1px solid #e3e3e3;}
.member_menu a {display:flex;padding:24px 20px;align-items:center;transition:background-color 0.2s;margin: 0 -20px;}
.member_menu a:active{background-color: rgba(0, 0, 0, .05);}
.member_menu a > div{flex:1;}
.member_menu a > div{display:flex;flex-direction:column;}
.member_menu a > div strong {font-size:16px;color:#000;letter-spacing:-.8px;font-weight:300;}
.member_menu a > div strong + em { margin-top: 10px; }
.member_menu a > div strong + span { margin-top: 10px; }
.member_menu a > div em { font-family: "VolvoNovum", sans-serif; font-size:20px;color:#284e80;letter-spacing:-.8px;font-weight:500;}
.member_menu a > div span {font-size:15px;color:#878787;letter-spacing:-.8px;font-weight:300;line-height:1.5;}
.member_menu a:after {content:'';width:7px;height:13px;background:url(/images/member/arr_right.png) no-repeat center / 7px 13px;}

.member_menu li.logout a:after {background:none;}

/* 01.차량정보 (member_car) */
.member_car h4 {font-size:17px;color:#141414;letter-spacing:-.8px;font-weight:400;margin:15px 0;}
.member_car > article {padding:24px 0;border-top:1px solid #e3e3e3;display:flex;flex-direction:column;}
.member_car > article:last-of-type{border-bottom:1px solid #e3e3e3;}
.member_car > article strong {font-size:16px;color:#000;letter-spacing:-.8px;font-weight:300;margin-bottom:10px;}
.member_car > article em {font-size:20px;color:#284e80;letter-spacing:-.8px;font-weight: 500;margin-bottom: 5px;}
.member_car > article span {font-size:15px;color:#878787;letter-spacing:-.8px;font-weight:300;line-height:1.5;}
.member_car .swiper-container {position: relative;margin: 0 -20px;width: 100vw;margin-top: 10px;}
.member_car .swiper-container .item {display:flex;flex-direction:column;text-align:center;}
.member_car .swiper-container .item em {padding-top:10px;}
.member_car .swiper-container .item span.img { text-align:center;}
.member_car .swiper-container .item span.img img {width:75%; max-width:325px;}
.member_car .swiper-container .swiper-pagination {position:relative; margin-top:22px;bottom:0;}
.member_car .swiper-container .swiper-pagination-bullet {width:7px;height:7px;border-radius:100%;background:#000;}
.member_car .swiper-container .prev {width:30px;height:30px;background:url(/images/member/arr_left.png) no-repeat center / 7px 13px;outline:0;border-radius:4px;}
.member_car .swiper-container .next {width:30px;height:30px;background:url(/images/member/arr_right.png) no-repeat center / 7px 13px;outline:0;border-radius:4px;}
.member_car .swiper-container .prev:active,
.member_car .swiper-container .next:active{background-color:rgba(0, 0, 0, .05);}
.member_car .swiper-container .swiper-button-navigation {width: 100%;position: absolute;padding: 0 15px;display:flex;justify-content:space-between;z-index: 1; top: 50%; transform: translateY(-60%); }
.member_car .swiper-container .on-img .swiper-button-navigation { top: 78px;}
.member_car .btn_group{margin-top:30px;}

/* 02회원개인정보 (member - modify.php) */
.modify h4 {font-size:17px;color:#141414;letter-spacing:-.8px;font-weight:400;margin:15px 0;}
.modify h5 {font-size:16px;letter-spacing:-.8px;font-weight:500;} 
.modify .privacy {border-top:1px solid #e3e3e3;/*padding-top:20px;*/padding-top:10px;}
.modify .phone_row {display:flex;}
.modify .phone_wrap {flex:1;}
.modify .phone_certification {width:100px;margin-left:5px;flex:none;font-size:14px;color:#284e80;border:1px solid #284e80;font-weight:300;height:41px;letter-spacing:-0.02em;}
/*.modify .agree {display:flex;flex-direction:column; margin-top:13px;}
.modify .agree label {display:flex;align-items:center;}
.modify .agree label + label {margin-top:10px;}
.modify .agree label.top_label{border-bottom:1px solid #e3e3e3;padding-bottom:10px; padding-top:10px;}
.modify .agree label span {font-size:14px;font-weight:400;letter-spacing:-.8px;flex:1;}
.modify .agree label input[type=checkbox]{transition:0.2s;width:25px;height:25px;border:1px solid #e3e3e3;background:url(/images/member/check.png) no-repeat center / 11px auto }
.modify .agree label input[type=checkbox]:checked{background-color:#284e80;}*/
.modify .receive {margin-bottom:30px; padding-top:20px;}
.modify .receive strong {display: block;font-size:14px;font-weight:400;letter-spacing:-.8px;margin-top: 15px;margin-bottom: 10px;}
.modify .receive > div {display:flex;}
.modify .receive > div + strong {margin-top:20px;}
.modify .receive label {flex:1;}
.modify .receive label + label {margin-left:5px;}
.modify .receive label input[type=checkbox],
.modify .receive label input[type=radio]{display:none;}
.modify .receive label span {display:flex;height:40px;font-weight:400; justify-content:center;align-items:center;border-radius:4px;border:1px solid #e3e3e3;font-size:14px;letter-spacing:-0.02em;color:#b9b9b9;}
.modify .receive label input:checked + span {border:1px solid #1868b9;color:#1868b9;}

.modify .car_number_wrap2 { display: flex; margin-bottom: 10px; height: 40px; }
.modify .car_number_wrap2 label { display: flex; flex-grow: 1; height: 40px; }
.modify .car_number_wrap2 label input { margin-right: 5px; }
.modify .car_number_wrap2 label span { display: flex; justify-content: center; font-weight:400; align-items: center; width: calc(100% - 5px); font-size: 15px; color: #969696; border: 1px solid #e3e3e3; border-radius: 4px; background-color: #f8f8f8; }
.modify .car_number_wrap2 input[type=radio] { position: absolute; top: 0; left: 0; width: 0px; height: 0px; opacity: 0; }
.modify .car_number_wrap2 input[type=radio]:checked + span { background-color: #fff; border-color: #284e80; color: #284e80; }


.modify .agree {display:flex;flex-direction:column;margin-top:20px;padding:20px 0 30px; border-top:1px solid #e3e3e3;}
.modify .agree .input_tit {margin:0;}
.modify .agree .agree_row { display: flex; justify-content: space-between; margin-top: 20px; }
.modify .agree .agree_row:first-child { margin-top: 0; }
.modify .agree .agree_col { display: flex; flex-direction: column; /*justify-content: center;*/}
.modify .agree .agree_col a { margin-top: 5px; font-size: 13px; color: #284e80; font-weight: 400; letter-spacing: -.8px; }
.modify .agree label {display:flex;align-items:center;}
.modify .agree label + label {margin-top:10px;}
.modify .agree label span {font-size:14px; color: #777777; font-weight:400;letter-spacing:-.8px;flex:1; line-height:1.5;}
.modify .agree_tit { margin-top: 40px; font-size: 16px; color: #000000; font-weight: 500; letter-spacing: -.8px; }
.modify input[type=checkbox] {transition:0.2s;width:25px;height:25px;border:1px solid #e3e3e3;background:url(/images/member/check.png) no-repeat center / 11px auto }
.modify input[type=checkbox]:checked {background-color:#284e80;}

/* 03.서비스쿠폰 (member_coupon) */
.member_coupon {padding-bottom:60px;}
.member_coupon h4 {font-size:17px;color:#141414;letter-spacing:-.8px;font-weight:400;margin:15px 0;}
/*.member_coupon h4 {font-size:17px;color:#141414;letter-spacing:-.8px;font-weight:400;margin:15px 0;border-bottom:1px solid #e3e3e3;padding-bottom:15px;margin-bottom:20px;}*/
.member_coupon .coupon_top {padding: 20px;background: #f6f6f6;margin: 0 -20px; margin-bottom:5px;}
.member_coupon .coupon_top ul {padding: 0 10px; margin-top: 8px; }
.member_coupon .coupon_top ul li {padding-top: 8px; font-weight: 300; font-size: 14px; color: #777777; }
.member_coupon .coupon_top .input_box select {font-weight: 400;font-size: 16px;background-color: #fff;}
.member_coupon .label { justify-content: flex-start; display: flex; }
.member_coupon .label li { white-space: nowrap; height: 45px; font-size: 15px; font-weight: 400; display: flex; align-items: center; letter-spacing: -.8px; }
.member_coupon .label li:nth-child(1) { color: #284e80; margin-left:5px; }
.member_coupon .label li:nth-child(2) { color: #969696; margin-left: 15px; }
.member_coupon .label i { margin-right: 6px; }
.member_coupon .label_caption {font-size:13px; color:#969696; text-align:left; margin-bottom:15px; padding-left:5px;}

.member_coupon .list {width: 100%;display: table;border-bottom: 1px solid #e3e3e3;}
.member_coupon .list .item > span {font-weight: 400; font-size: 14px; display: table-cell; justify-content: center; align-items: center; border-right: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding-right: 10px; vertical-align: middle; padding-left:5px; }
.member_coupon .list .item {display: table-row; }
.member_coupon .list .item > ul {display: table-cell;padding: 10px 15px;border-top: 1px solid #e3e3e3;}
.member_coupon .list .item > ul li {line-height: 1.5;font-size: 14px; margin-bottom:2px;}
.member_coupon .list .item > ul li > * {position: relative;padding: 1px 5px;line-height: 1.5;letter-spacing: -.8px;font-weight: 300;display: flex;}
.member_coupon .list .item > ul li > * i {vertical-align: middle;margin-top: 3px;margin-right: 5px;}
.member_coupon .list .item > ul li.enable a { color: #969696;width: 100%;}
.member_coupon .list .item > ul li.enable a:active { transition: 0.2; background:rgba(0, 0, 0, .05); }
.member_coupon .list .item > ul li.disable span {color: #284e80;}
.member_coupon .guide { margin-top: 30px; }
.member_coupon .guide p {margin-top: 5px; font-weight: 300; color: #777777; font-size: 13px; line-height: 1.5; }
.member_coupon .guide p i {vertical-align: middle; margin-top: -2px; margin-right: 10px; }
.member_coupon .guide p i:last-child {margin-right: 0; }
.member_coupon i.o { display: inline-block; width: 15px; height: 15px; background: url(/images/common/ic_o.png) no-repeat center / 100%; }
.member_coupon i.v { display: inline-block; width: 15px; height: 15px; background: url(/images/common/ic_v.png) no-repeat center / 100%; }
.member_coupon i.x { display: inline-block; width: 15px; height: 15px; background: url(/images/common/ic_x.png) no-repeat center / 100%; }

/* 쿠폰 팝업 */
.member_coupon_pop { position: fixed; top: 100vh; right: 0; left: 0; bottom: 0; transition: 0.5s; overflow: hidden; z-index: 3; }
.member_coupon_pop.on {  top:0; z-index: 3; transition: 0.2s; }

.member_coupon_pop .pop { padding-bottom: 150px; bottom: 0; top: 0; left: 0; right: 0; position: absolute; background: #fff; }
.member_coupon_pop .pop .top { position: relative; display: flex; align-items: center; padding: 0px 5px; height: 59px; }
.member_coupon_pop .pop .top h4 { flex: none; font-size: 20px; color: #000; font-weight: 200; letter-spacing: -.4px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 220px; text-align: center; }
.member_coupon_pop .pop .card_box { background: #f6f6f6; padding: 25px; }
.member_coupon_pop .pop .card_box .img_wrap { display: flex; justify-content: center; align-items: center; }
.member_coupon_pop .pop .card_box .img_wrap img { width: 250px; }
.member_coupon_pop .pop .card_box h6 { margin-top: 18px; font-size: 20px; text-align: center; font-weight: 400; }
.member_coupon_pop .pop .card_box p { letter-spacing: -.8px; text-align: center; line-height: 1.5; font-weight: 300; color: #777777; font-size: 14px; margin-top: 10px; }
.member_coupon_pop .pop .cont { padding: 20px 52px; }
.member_coupon_pop .pop .cont strong { color: #284e80; font-weight: 400; font-size: 16px; width:100%; text-align:center; letter-spacing: -.8px; display:block; padding-top:30px; }
.member_coupon_pop .pop .cont ul { margin-bottom: 20px; margin-top: 10px; }
.member_coupon_pop .pop .cont ul:after {clear:both; content:""; display:block;}
.member_coupon_pop .pop .cont ul li { position: relative; line-height: 1.5; font-weight: 300; color: #777777; letter-spacing: -.8px; font-size: 14px; }
.member_coupon_pop .pop .cont ul li.ti {font-size:16px; float:left; font-weight: 400; color: #284e80; width:80px; }
.member_coupon_pop .pop .cont ul li.txt {font-size:16px; float:left; width:calc(100% - 80px); }
/*.member_coupon_pop .pop .cont ul li:before { left: 0; top: 8px; position: absolute; width: 5px; height: 5px; border-radius: 100%; content: ''; background: #cfcfcf; }*/
.member_coupon_pop .pop .cont p { margin-top: 10px; line-height: 1.5; font-weight: 300; color: #777777; letter-spacing: -.8px; font-size: 14px; width:100%; text-align:center; }
.member_coupon_pop .pop .pop_scroll_wrap { overflow-y: auto; position: relative; height: 100%; }
.member_coupon_pop .pop_wrap .btn_wrap { position: absolute; bottom: 0; left: 0; right: 0; padding: 40px 20px 90px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%); }

.member_coupon_pop .back { position:absolute; top:10px; left:5px; z-index:5; }
.member_coupon_pop .back a {display: flex; padding: 12px;width: 40px;height: 40px;border-radius: 10px;transition: 0.2s;justify-content: center;align-items: center;}
.member_coupon_pop .back a:active { background-color: rgba(0, 0, 0, .05); }
.member_coupon_pop .back a img { width: 16px; }

/* 04.선호서비스센터 (member_center) */
.member_center h4 {font-size:17px;color:#141414;letter-spacing:-.8px;font-weight:400;margin:15px 0; border-bottom:1px solid #e3e3e3;padding-bottom:15px;margin-bottom:20px;}
.member_center .list {}
.member_center .list .item {/*transition: border-color 0.2s;*/ position: relative; border-bottom: 1px solid #d5d5d5; overflow: hidden;  }
.member_center .list .item .tit {display: flex;color: #6a6a6a;font-size: 16px;font-weight: 400;height: 60px; align-items: center;padding: 0 0 0 5px;}
.member_center .list .item .tit input[type=radio] {display:none;}
.member_center .list .item .tit span {letter-spacing: -.8px;font-weight: 400;flex: 1;}
.member_center .list .item .tit i {  display: block; width: 18px; height:11px;  background-image: url(/images/common/select_arr.png); background-size: 100%; }
.member_center .list .item .tit i:after {  opacity: 0; content: ''; display: block; width: 18px; height:11px; background-color:#fff; background-image: url(/images/common/select_arr_active.png); background-size: 100%; }
/*.member_center .list .item.on {border-color: #284e80;}*/
/*.member_center .list .item.on .tit {color: #284e80;font-weight: 500;}
.member_center .list .item.on .tit span {font-weight: 500;}*/
.member_center .list .item.on .tit i:after { opacity: 1; }
.member_center .list .item .info_wrap { /*transition: 0.2s;*/ height: 0; overflow: hidden;}
.member_center .list .item .info_box {overflow: hidden;padding-bottom: 10px;}
.member_center .list .item .info_box .img_wrap {padding: 0 15px;padding-bottom: 10px;}
.member_center .list .item .info_box .img_wrap img {width:100%;border: 1px solid #d3d3d3;}
.member_center .list .item .info {padding-left: 5px;padding-right: 5px; color: #707070;font-size: 14px;}
.member_center .list .item .info li {display: flex;margin-bottom: 4px;}
.member_center .list .item .info li .label {letter-spacing: -.8px;font-weight: 400;width: 62px;line-height: 1.5;font-size: 13px;}
.member_center .list .item .info li .data {flex: 1;font-weight: 200;letter-spacing: -.8px;line-height: 1.5;font-size: 13px;}
.member_center .list .item .info li .data span {display:inline-block;}
.member_center .list .item .info_box .golink { transition:background-color 0.2s;display:block;width:85px;padding:5px;border-radius:4px; background:url(/images/common/pointed_arr.png) no-repeat right 10px center / auto 10px; padding-right:20px;color:#1868b9;font-size:14px;letter-spacing:-0.06em;font-weight:400;margin-top: 15px; margin-bottom:20px;}
.member_center .list .item .info_box .golink:active{background-color:rgba(0, 0, 0, .05);}


/* 비밀번호 칮기 성공 memter - find_pw_success.php*/
.find_pw_success { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; }
.find_pw_success p { font-size: 20px; color: #000000; font-weight: 200; letter-spacing: -.8px; text-align: center; line-height: 32px; }
.find_pw_success a { flex: none; margin-top: 50px; width: 300px; height: 50px; border-color: #284e80; color: #284e80;}


#certPhone { display: none; position: fixed; top: 0px; left: 0; padding-top: 10px; width: 100%; height: calc(100vh); background-color: #fff; z-index: 10;}
#certPhone .close { position: absolute; background:#fff; top: 14px; padding:10px; right: 17px; }
#certPhone .close img { /*width: 100%;*/ width: 18px; }
#certPhone iframe { width: 100%; height: 100%; }


/* 1주년 쿠폰 */
.oneyear_coupon {}
.oneyear_coupon h4 {font-size:17px;color:#141414;letter-spacing:-.8px;font-weight:400;margin:15px 0;}
.oneyear_coupon .coupon_top {padding: 20px 0 20px; background: #f6f6f6; margin: 0 -20px; text-align: center; }
.oneyear_coupon .coupon_top img.card { margin-bottom: 10px; width: 100%; max-width: 259px; }
.oneyear_coupon .coupon_top p { margin-top: 15px; font-size: 14px; color: #777777; font-weight: 200; letter-spacing: -.4px; line-height: 21px; word-break: keep-all; }
.oneyear_coupon .coupon_middle { padding: 20px 0; }
.oneyear_coupon .coupon_middle .box-group { margin-bottom: 18px; }
.oneyear_coupon .coupon_middle strong { display: block; margin-bottom: 10px;  font-size: 14px; color: #666666; letter-spacing: -.4px; }
.oneyear_coupon .coupon_middle p { font-size: 12px; color: #a7a7a7; letter-spacing: -.4px; }
.oneyear_coupon .coupon_middle ul li { position: relative; margin-top: 5px; padding-left: 8px; font-size: 12px; color: #a7a7a7; letter-spacing: -.5px; line-height: 18px; word-break: keep-all; }
.oneyear_coupon .coupon_middle ul li:first-child { margin-top: 5px; }
.oneyear_coupon .coupon_middle ul li:before { content: ""; display: block; position: absolute; top: 7px; left: 0; width: 4px; height: 4px; border-radius: 2px; background-color: #d8d8d8; }


.oneyear_coupon_pop { position: fixed; top: 0; right: 0; left: 0; bottom: 0; transition: none; overflow: hidden; z-index: 3; background-color: rgba(0, 0, 0, .6); border: none; }
/* .oneyear_coupon_pop.on {  top:0; z-index: 3; transition: 0.2s; } */

.oneyear_coupon_pop .pop { position: absolute; top: 50%; left: 50%; padding: 5px; width: calc(100% - 40px); max-width: 335px; background: #fff; transform: translate(-50%, -59%); border-radius: 10px; overflow: hidden; }
.oneyear_coupon_pop .inner { padding: 30px 15px 50px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 7px; text-align: left; }
.oneyear_coupon_pop .inner strong { display: inline-block; margin-bottom: 25px; font-size: 15px; color: #000000; letter-spacing: -.8px; }
.oneyear_coupon_pop .inner strong img { position: relative; top: 7px; }
.oneyear_coupon_pop .inner p { margin-bottom: 25px; font-size: 14px; color: #000000; letter-spacing: -.8px; line-height: 20px; word-break: keep-all; }
.oneyear_coupon_pop .inner .btn { position: absolute; bottom: 0; left: 0; width: 100%; height: 50px; background-color: #000; line-height: 50px; border: none; border-radius: 0; font-size: 16px; color: #fff; letter-spacing: -.8px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.oneyear_coupon_pop .inner .sign { display: block; text-align: right; }

@media ( max-width: 359px ) {
	.join .phone_certification{width:80px;}
	.input_box select { background-position: right 10px top 16px; }
}

@media ( max-width: 374px ) {
	.oneyear_coupon_pop .inner strong { font-size: 13px; letter-spacing: -.9px; }
    .oneyear_coupon_pop .inner p { font-size: 12px; letter-spacing: -.9px;}
}

@media ( max-height: 650px ) {
    .oneyear_coupon_pop { padding: 20px 0 100px; overflow: auto; }
    .oneyear_coupon_pop .pop { position: relative; top: 0px; left: 50%; transform: translate(-50%, 0%); }
}