@charset "UTF-8";
#breadcrumb h4 {width:100%;}
#visual { padding: 0 10px; }
#visual img { overflow: hidden; border-radius: 10px; }
#visual .tit {letter-spacing: -.04em; background: #284e80;color: #fff;font-size: 18px;font-weight: 400;height: 40px; line-height:40px; display: flex;justify-content: center;align-items: center;border-radius: 5px;margin-top: -20px;position: relative;margin-left: 10px;margin-right: 10px;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); margin-bottom:10px;}
#visual .tit:before { content: ''; display: block; width: 20px; height: 20px; background: url(/images/emergency/ico_call.png) no-repeat center / 20px auto; margin-right: 10px; }
.text { padding-top: 5px; }
.text li { padding: 25px 0 25px; }
.text li + li { border-top: 1px solid #e3e3e3; }
.text h6 { font-size: 16px; font-weight: 500; letter-spacing: -.07em; color:#141414; margin-bottom:10px; }
.text p { font-size: 14px; font-weight: 300; color: #707070; margin-top: 8px; line-height: 1.5; letter-spacing: -.04em; }
small {display:block;margin-top:10px;color:#b8b8b8;font-size:13px; font-weight:400;}
